@import "tailwindcss";
@import 'flatpickr/dist/flatpickr.css';
@import "./table.css";

@source "../views/**/*.blade.php";
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake, bumblebee, emerald, corporate, synthwave, retro, cyberpunk, valentine, halloween, garden, forest, aqua, lofi, pastel, fantasy, wireframe, black, luxury, dracula, cmyk, autumn, business, acid, lemonade, night, coffee, winter, dim, nord, sunset;
}

@theme {
  --color-brand: oklch(77.6% 0.134 145.5);
  --color-brand-secondary: oklch(30.8% 0.0876 145.5);
  --font-family-sans: sans, sans-serif;
}

[data-theme="light"] {
  --color-primary: oklch(77.6% 0.134 145.5);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(30.8% 0.0876 145.5);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(59.5% 0.3435 319.5);
}

[data-theme="dark"] {
  --color-primary: oklch(77.6% 0.134 145.5);
  --color-primary-content: oklch(20% 0 0);
  --color-secondary: oklch(30.8% 0.0876 145.5);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(59.5% 0.3435 319.5);
}

#nprogress .bar {
    background: var(--color-primary) !important;
}

.toast {
    @apply text-wrap;
}

.drawer-content {
    @apply !px-2
}

.full-width-modal .modal-box {
    @apply !max-w-4xl
}

input, select, .select, textarea {
    @apply !border-base-content/25
}

input.input-error {
    @apply !border-error
}
